<h1>AddrRules#index</h1>

<%= link_to "new", new_addr_rule_path %><br />

<div id="addr_rules">
	<%= render 'addr_rules/page' %>
</div>

<script>
	$(function(){
		$('.pagination a').attr('data-remote', 'true')
	});
</script>
