<h1>AddrRules#new</h1>

<div id="naver_map" style="width: 1000px; heigth: 300px;"></div>

<%= form_for @addr_rule, html: { multipart: true } do |f| %>
	<%= render "field", f: f %>
	<%= f.submit %>
	<input type="button" onclick="clear_data()" value="clear">
<% end %>

<script>
	$(document).on("page:load", loadNaverMap());
	$(document).ready(function(){
		oMap.attach("click", setMarker);
		$('#new_addr_rule').validate({
			rules: {
				'addr_rule[name]': { required: true },
				'addr_rule[coordinates_attributes][0][lat][]': { required: true },
				'addr_rule[coordinates_attributes][0][lng][]': { required: true }
			}
		});
		function clear_data() {
			document.getElementById("new_addr_rule").reset();
			oMap.clearOverlay();
			k = 0;
		};
	});
	$('body').on('contextmenu', '#naver_map', function(e){ return false; });
	function clear_data() {
		document.getElementById("new_addr_rule").reset();
		oMap.clearOverlay();
		polygonCoords = [];
		k = 0;
	};
</script>
