<%= form_for @question do |f| %>
	<%= render "questions/fields", f: f %>
	<div class="modal-footer" style="padding: 10px 0 0;">
		<%= f.button "취소", class: "btn btn_cancel", data: { dismiss: "modal" } %>
		<%= f.button "등록", class: "btn btn_submit" %>
	</div>
<% end %>

<script>
	$('#new_question').on('submit', function() {
		if ( $('#question_contents').val().length == 0 ) {
			alert('질문 내용을 입력해주세요.');
			return false;
		};
	});
</script>
