<h1>Questions#new</h1>

<%= form_for(@question) do |f| %>
	<%= render "questions/fields", f: f %>
	<%= f.submit "gogogo" %>
<% end %>

<script>
	$("#new_question").submit( function(e) {
		formValidation(e, "#new_question");
	});
</script>
