<%= form_for(@question) do |f| %>
	<%= render "questions/fields", f: f %>
	<div style="text-align: right;">
		<%= f.button "취소", class: "btn", data: { dismiss: "modal" } %>
		<%= f.button "등록", class: "btn btn-primary" %>
	</div>
<% end %>

<script>
$(document).ready( function() {
	$("#new_question").validate({
		rules: {
			//'question[email]': { required: true, email: true },
			'question[contents]': { required: true }
		}
	});
});
</script>
