<h1>Questions#index</h1>

<table>
	<tr>
		<th>user_id</th>
		<th>email</th>
		<th>contents</th>
		<th></th>
	</tr>

	<!-- Each questions in questions/_question.html.erb -->
	<%= render @questions %>
</table>
