<tr>
	<td><%= menu_title.title_name %></td>
	<td><%= menu_title.title_info %></td>
	<td><%= link_to "edit", edit_menu_title_path(menu_title) %>
	<td><%= link_to "delete", menu_title_path(menu_title), method: :delete %>
</tr>
