<%= form_for [@restaurant, @rest_err], remote: true, html: { mutipart: true } do |f| %>
	<%= f.hidden_field :restaurant_id, value: @restaurant.id %>

	<%= render "rest_errs/field", f: f %>
	<div class="modal-footer" style="padding: 10px 0 0;">
		<%= f.button "완료", class: "btn btn_submit" %>
	</div>
<% end %>

<script>
	$('#new_rest_err').on('submit', function(e) {
		if ( !restErrValidation() ) { return false };
	});
</script>
