<h1>RestErrs#index</h1>

<table>
	<tr>
		<% RestErr.column_names.each do |column| %>
			<th><%= column %></th>
		<% end %>
		<th></th>
		<th></th>
	</tr>

	<% @rest_errs.each do |err| %>
		<tr>
			<% err.attributes.each_value do |value| %>
				<td><%= value %></td>
			<% end %>
			<td><%= link_to "show", rest_err_path(err) %></td>
			<td><%= link_to "destroy", rest_err_path(err), method: :delete %></td>
		</tr>
	<% end %>
</table>
