<div class="col-md-6 col-md-offset-3">
	<%= form_for([@restaurant, menu], remote: true) do |f| %>
		<%= render "menu_titles/new", f: f %>

		<!-- Specify field because of controller subordination -->
		<%= render "menus/field", f: f %>
		<%= f.button "추가", class: "btn btn_submit", style: "float: right; margin-bottom: 10px;" %>
	<% end %>
</div>
