# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore environment variables.
/config/app_environment_variables.rb

# Ignore precompiled assets.
/public/assets

# Images
/app/assets/images
