# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.swp

# Ignore environment variables.
/config/environment_variables.rb

# Ignore precompiled assets.
/public/assets

# Images
/app/assets/images

# Seed data
/db/seed_data
