<h1>RestRegisters#show</h1>

<table>
	<% @rest_register.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
	<% end %>
</table>

<%= image_tag @rest_register.img.url(:medium), alt: "gogogo" %>
