<% provide(:page_title, "문의사항") %>
<table>
	<tr>
		<th>question</th>
		<th>answer</th>
		<th>
			<%= link_to "new notice", new_notice_path %>
		</th>
		<th></th>
	</tr>

	<!-- Each notices in notices/_notice.html.erb -->
	<%= render @notices %>
</table>

<!-- Show modal for questions#new on click -->
<%= link_to "new question", "#new_question" %>

<%= render "questions/new" %>
