<% if @naver_blogs.blank? && @daum_blogs.blank? %>
	<div id="no_blog">
		<div class="row" style="margin: 0; padding: 0 15px 15px;">
			<div class="col-xs-10 col-xs-offset-1" style="text-align: center; margin-top: 10px;">
				블로그 검색 결과가 없습니다.
			</div>
		</div>
	</div>
<% else %>
	<div style="width: 90%; margin: 0 auto;">
		<div class="daum">
			<%= render partial: "/blogs/blog", collection: @daum_blogs, as: :blog %>
		</div>
		<div class="powered_by">
			<%= image_tag "api/powered_by_daum.png" unless @daum_blogs.blank? %>
		</div>

		<div class="naver">
			<%= render partial: "/blogs/blog", collection: @naver_blogs, as: :blog %>
		</div>
		<div class="powered_by">
			<%= image_tag "api/powered_by_naver.png" unless @naver_blogs.blank? %>
		</div>
	</div>
<% end %>
