<h2>Naver Blogs</h2>
<% if !@naver_blogs.blank? %>
	<%= render partial: "/blogs/blog", collection: @naver_blogs, as: :blog %>
<% else %>
	<%= render "/blogs/no_blogs" %>
<% end %>

<h2>Daum Blogs</h2>
<% if !@daum_blogs.blank? %>
	<%= render partial: "/blogs/blog", collection: @daum_blogs, as: :blog %>
<% else %>
	<%= render "/blogs/no_blogs" %>
<% end %>