<h1>Comment#new</h1>

<%= form_for([@restaurant, @comment], remote: true) do |f| %>
	<%= f.hidden_field :restaurant_id, value: @restaurant.id %>

	<!-- Specify field because of controller subordination -->
	<%= render "comments/field", f: f %>
	<%= f.submit "update comment", { id: "update_comment" }  %>
<% end %>
