<h1>Comment#new</h1>

<!-- Should be called by Ajax like menu_titles#edit -->
<%= form_for [@restaurant, @comment] do |f| %>
	<%= f.hidden_field :restaurant_id, value: @restaurant.id %>

	<!-- Specify field because of controller subordination -->
	<%= render "comments/field", f: f %>
	<%= f.submit "update comment" %>
<% end %>
