<p>contents | created at</p>

<table id="comment_body">
	<% @comments.each do |comment| %>
		<%= render partial: "comments/show", locals: { comment: comment } %>
	<% end %>
</table>

<%= will_paginate @comments, params: { controller: "restaurants", action: "show" } %>
