<h1>Mymap#index</h1>

<table>
	<tr>
		<th>restaurant_id</th>
		<th>restaurant_name</th>
		<th>mymap_button</th>
	</tr>

	<%= render partial: "mymap", collection: @restaurants, as: :restaurant %>
</table>

<div id="modal">
</div>
