<h1>Slangs#new</h1>

<%= form_for @slang do |f| %>
	<%= render "field", f: f %>
	<%= f.submit "submit" %>
<% end %>

<script>
	$(document).ready( function() {
		$('#new_slang').validate({
			rules: {
				'slang[name]': { required: true }
			}
		});
	});
</script>
