<h1>This is the homepage for MenuMap</h1>

<input name="tag_gogo" id="gogo_tag" />

<script>
	$("#gogo_tag").tagit({
		// availableTags: ["#go go", "#do(do)"],
		autocomplete: {
			source: window.location.origin + '/restaurants/1000000/menu_complete'
		},
		placeholderText: "#메뉴"
		// removeConfirmation: true,
	});
</script>
