<h1>Franchise#new</h1>

<%= form_for(@franchise) do |f| %>
	<%= render "franchises/fields", f: f %>
	<%= f.submit "gogogo" %>
<% end %>

<script>
	$(document).ready( function() {
		$("#new_franchise").validate({
			rules: {
				'franchise[id]': { required: true, digits: true },
				'franchise[name]': { required: true }
			}
		});
	});
</script>
