<h1>Pictures#new</h1>

<%= form_for @picture, html: { multipart: true } do |f| %>
	<%= f.label :img %>
	<%= f.file_field :img, accept: "image/jpeg, image/png, image/gif" %>
	
	<%= f.submit %>
<% end %>
