<h1>Pictures#new</h1>

<%= form_for @picture, html: { multipart: true } do |f| %>
	<%= f.label :img %>
	<%= f.file_field :img, multiple: true, class: "uploadImage" %>
	
	<%= f.submit %>
<% end %>

<script>
	$(document).ready( function() {
		$('#new_picture').validate({
			rules: {
				'picture[img][]': { required: true }
			}
		});
		imageUploadValidate();
	});
</script>
