<span id="mymap_button_<%= @restaurant.id %>"><%= mymap_button(@user, @restaurant) %></span>
<a href="tel:<%= @restaurant.phnum %>"><%= @restaurant.phnum %></a>

<a href="#myModal" data-toggle="modal" data-target="#myModal" id="rest_err">Restaurant Error</a>
