<div id="rest_index" class="container">
	<div class="col-md-6 col-md-offset-3">
		<div id="naver_map" style="margin: 0 -15px 0;"></div>

		<%= render partial: 'show', collection: @restaurants, as: :restaurant %>
		
		<div style="text-align: center;">
			<%= will_paginate @restaurants, :renderer => 'BootstrapPaginationHelper::LinkRenderer', :outer_window => -1, :inner_window => 2 %>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		loadNaverMap(false, false);
		hidePaginateButton(<%= @restaurants.total_pages %>, <%= @restaurants.current_page %>);
		showStarRating();
	});
</script>
