<h1>Addresses#edit</h1>
<h2><%= @address.name %></h2>

<div id="naver_map"></div>

<%= form_for @address, html: { multipart: true } do |f| %>
	<%= render "field", f: f %>
	<%= f.submit %>
<% end %>

<script>
	$(document).ready(function(){
		loadNaverMap();
		oMap.attach("click", setMarker);
	});
</script>
