@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

table, th, td {
	border: 1px solid black;
}

ul.tagit li.tagit-choice a.tagit-close .text-icon {
	display: block;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2px;
  line-height: 10px;
}	

html, body, h1, h2, h3, h4, h5, h6, p, a, input, textarea, button {
	font-family: 'Noto Sans', sans-serif;
}

.ubuntu {
	font-family: 'Ubuntu';
	font-weight: bold;
	color: #dd4814;
}

.btn-facebook {
	background-color: #3B5998;
	color: white;
	font-weight: bold;
	&:hover {
		background-color: #2d4373;
		border-color: rgba(0,0,0,0.2);
		color: white;
	}
}
