<h4 class="modal-title left_border_label" id="myModalLabel" style="border-color: #ea4c15;">
	<%= @menu.name %>
	<span class="grey_small_info"><%= @menu.side_info %></span>
	 &middot; <%= menu_price_div(@menu) %>
</h4>

<script>
	// Display inline price div.
	$('h4.modal-title div').css('display', 'inline');
</script>
