<h2>mymaps#new restaurant = <%= @restaurant.id %></h2>
<%= form_for([@restaurant, @mymap], remote: true, html: {:onsubmit => "$('#myModal').modal('hide');"}) do |f| %>
	<%= render "mymaps/field", f: f %>
	<%= f.submit %>
<% end %>
