$('.modal-title').html("<span class='left_border_label' style='border-color: #ea4c15; font-family: Ubuntu;'>MyMap</span> 등록");
$('.modal-body').html("<%= j(render partial: 'mymaps/new') %>");

starRatingForm('mymap');
mymapValidation('#new_mymap');
