$("#flash").html("<%= j render "layouts/flash" %>");
$('.modal-title').html("<span style='font-family: Ubuntu;'>MyMap</span>");
$(".modal-body").html("<%= j(render "show") %>");

showStarRating();
updateMymapIcon(<%= @mymap.index_plus_one %>, <%= @mymap.group %>);
