$("#flash").html("<%= j render "layouts/flash" %>");
$('.modal-title').html("<span class='left_border_label' style='border-color: #ea4c15; font-family: Ubuntu;'>MyMap</span>");
$(".modal-body").html("<%= j(render "show") %>");

showStarRating();
updateMymapIcon(<%= @mymap.index_plus_one %>, <%= @mymap.group %>);
