<% if flash.any? %>
	<% flash.each do |msg_type, msg| %>
		<div class="container" style="padding: 0;">
			<div class="col-md-6 col-md-offset-3" style="padding: 0;">
				<div class="alert alert-<%= msg_type %>" role="alert">
					<%= msg %> <strong style="cursor: pointer; float: right;" onclick="closeAlert()">x</strong>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<script>
	$(document).ready(function() {
		if ("<%= flash %>" != '') {
			$('#flash .alert').delay(100).fadeIn("slow");
			$('#flash .alert').delay(1500).fadeOut("slow");
		};
	});

	function closeAlert() {
		$('#flash .alert').hide();
	};
</script>
