<footer>
	<div class="thick_bottom_border" style="border-width: 1px;"></div>
	<div class="container" style="padding-top: 10px;">
		<div class="left">
			<i class="fa fa-copyright"></i> <span style="font-family: 'Ubuntu'; font-weight: bold;">MenuMap</span>
		</div>
		<div class="right" style="font-size: 80%;">
			info@menumap.co.kr
		</div>
	</div>
</footer>
