<% if params[:controller] == "restaurants" && params[:action] == "show" %>
	<title><%= restaurant_meta_title(@restaurant) %></title>
	<meta name="description" content="<%= restaurant_meta_description(@restaurant) %>" />
<% else %>
	<title><%= meta_title(yield(:page_title)) %></title>
<% end %>

<% if content_for?(:head) %>
	<%= yield(:head) %>
<% end %>
