<p><%= @resource.email %>님 안녕하세요!</p>
<p>아래의 링크를 누르시면 <span style="font-family: Ubuntu; color: #ea4c15; font-weight: bold;">MenuMap</span>아이디의 비밀번호를 변경하실 수 있습니다.</p><br/>

<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>
